{% extends 'home/base.html' %}
{% block style %}
{% endblock style %}
{% block content %}
    <div>
        <span>This page feels way too bare. I might just incorporate this info into the footer.</span>
        <br>
        <span>But anyways, here are a few ways you can contact me.</span>
        <br>
        <span>Please contact me if you would like any development services, financial/budgetting help, or just to say hi!</span>
    <ul>
        <li><a href='https://twitter.com/ChloeSonsteng' target='_blank'>Twitter</a></li>
        <li><a href='https://www.linkedin.com/in/chloe-sonsteng-05477196/' target='_blank'>Linkedin</a></li>
        <li><a href='https://www.instagram.com/csonsteng/' target='_blank'>Instagram</a></li>
        <li><a href='mailto:chloe@csonsteng.com' target='_blank'>Email</a></li>
    </ul>
    </div>
{% endblock content %}