{% extends 'home/base.html' %}
{% block style %}
{% endblock style %}
{% block content %}
    <div>
        <span>Welcome to my website! I'm so happy to have you here!</span>
        <p>Right now, it's fairly bare, but things are growing and changing all the time.
        For now, check out my <a href='about/'>"About Me"</a> page or how to <a href='/contact/'>contact me</a>.
        Soon I'll have some of my <a href='projects/'>projects</a> shown and discussed, and I think I'm going
        to add a blog section at some point.</p>
        <p>This home page is going to be used to direct you to anything new you might find while roaming around.
        So grab a cup of tea, or glass of wine and make yourself at home.</p>
    </div>
{% endblock content %}